<div class="container">

		<!-- HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>Game Of Thrones Casts<span class="label label-info">{{ todos.length }}</span></h1>
		</div>

		<!-- TODO LIST -->
		<div id="todo-list" class="row">
			<div class="col-sm-4 col-sm-offset-4">

				

				<!-- LOOP OVER THE TODOS IN $scope.todos -->
				<div class="checkbox" ng-repeat="todo in todos">
				
					<div class="panel panel-default">
					
					<div class="panel-heading">
						<h3 class="panel-title"> <a href="#"  ng-click="getCharacterDetails(todo._id)"> {{ todo.text }} </a></h3>
						<input type="button" ng-click="deleteTodo(todo._id)" value="Kill the Cast" class="btn btn-danger btn-sm  pull-right" >
					</div>
  
					  <div class="panel-body">
						 {{todo.dogProperty}}
					  </div>
					
					 
					</div>


		<!-- 			<label>
						<h3 class="panel-title pull-left"> {{ todo.text }} </h3> 
						<input type="button" ng-click="deleteTodo(todo._id)" value="Kill the Cast" class="btn btn-danger btn-sm  pull-right" >
						<br />
						<p>
							{{todo.dogProperty}}
						</p>
						
					</label> -->
				</div>

				<p class="text-center" ng-show="loading">
					<span class="fa fa-spinner fa-spin fa-3x"></span>
				</p>

			</div>
		</div>

		<!-- FORM TO CREATE TODOS -->
		<div id="todo-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">

						<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
						<input type="text" class="form-control input-lg text-center" placeholder="your free casts" ng-model="formData.text">
					</div>

					<!-- createToDo() WILL CREATE NEW TODOS -->
									<div class="form-group">
					<label for="comment">Charecters Description:</label>
					<textarea class="form-control" rows="5" id="comment" ng-model="formData.dogProperty"></textarea>
					</div>
				
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add Cast</button>
					
							

		<!-- 	
			<!-- createToDo() WILL CREATE NEW TODOS 
					<button type="submit" class="btn btn-primary btn-lg" ng-click="postComment()">Comment</button>

		 -->			
				</form>
			</div>
		</div>

					

		<div class="text-center text-muted">
			<p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
			<p>Read the <a href="http://scotch.io/tutorials/javascript/creating-a-single-page-todo-app-with-node-and-angular">tutorial</a>.</p>
		</div>

	</div>